<div class="cabec" >
    <div class="selecao">
        <form [formGroup]="form">
          <div class="campofiltros" >
            
            <po-input name="itCodigoini" formControlName="itCodigoini"  style="width: 200px;" p-label="Item de"  p-mask="XX.XXX.XXXXX-XX">       </po-input>
            <po-input name="itCodigofim" formControlName="itCodigofim"  style="width: 200px;" p-label="Item até" p-mask="XX.XXX.XXXXX-XX">       </po-input>
           
  
            <po-button p-tooltip="Efetuar Busca de Dados"  name='btBusca' [p-disabled]="lBotao" style="margin-right: 50px" p-icon="bi bi-zoom-in" p-kind="primary" (p-click)="ChamaObterDados()" p-label="Buscar" ></po-button>
            <!-- fazer paginação
            <po-button p-tooltip="Efetuar Busca Paginação" name='btBusca' [p-disabled]="lBotao" style="margin-right: 50px" p-icon="bi bi-zoom-in" p-kind="primary" (p-click)="onBuscaDadosP()" p-label="Paginação" ></po-button>
            incluir no po-table
            (p-show-more)="loadMoreItens()"
            -->
          </div>
        </form>
    </div>
    <div class="campofiltrosc">
            <po-button p-tooltip="Baixar Dados no Excel"                 p-icon="bi bi-download"     c p-label="Baixar"                   (p-click)="this.onExportarExcel()" p-kind="primary"> </po-button>
            <po-button p-tooltip="Importa Dados dos Itens"               p-icon="bi bi-cloud-upload"  p-label="Importa Dados dos Itens"  (p-click)="ChamaImport()" p-danger="true"></po-button>
    </div>
  </div>
  
  <div class="grid">
      <po-loading-overlay *ngIf="loadTela===true" [p-text]="labelLoadTela" [p-screen-lock]="true"></po-loading-overlay>
      <p style="font-size: 20px; font-weight: bold"><po-divider p-label="Consulta de Itens {{this.pesquisa}}"></po-divider></p>
      
        <po-table [p-items]="lista" 
                  [p-columns]="colunas"
                  [p-striped]="true" 
                  p-sort="true"
                  [p-hide-table-search]="true" 
                  [p-hide-columns-manager]="true" 
                  p-container="true"
                  [p-literals]="customLiterals"
                  [p-height]="alturaGrid"
                  [p-show-more-disabled]="disableShowMore"
                  />
  </div>